page-about {
    //   .logo {
    //    // padding: 10px 10px 10px 10px;
    //     float: center;
    //   // padding-top: 1px;
    //   // padding-bottom: 20px;
    // }
    background: #f8f7f7;

    #noBooking{
      color: red;

    }
    .service{
      text-align: left;
    }

    .cancel{
      align-items: right;
      padding-left: 10px;
    }

    .order #status{
      color: blue;
    }

    .order #status1{
      color: blue;
    }
    .order #status2{
      color: green;
    }
    .order #status3{
      color: red;
    }
    .order #status4{
      color: rgb(88, 235, 88);
    }
    .order #status5{
      color: rgb(163, 79, 39);
    }
    .mybooking{
      background: #f8f7f7;

    }
    .order{
      width: 100%;
    }
    .order .s{
      min-width: 70% !important;
    }

    .cust-item-footer{
    position: absolute;
    right: 0px;
    width: 85px;
    z-index: 9999;
    bottom: 12px;
    text-align: right;
    h2{
      padding-right: 15px;
      font-size: 12px !important;
    }
    span.button.button-md.button-clear{
      height: 25px !important;
      font-size: 12px !important;
    }

    }
    ion-item{
      position: relative;
      min-height: 70px;
      .item-inner{
        .input-wrapper{
          .ion-label{
            padding-right: 85px;
            overflow: visible;

          }
        }
      }
    }

    .user-required-bg{
      background-image: url(../../assets/imgs/login.svg);
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: center;
      height: 100%;
    }
    .no-booking-bg{
      background-image: url(../../assets/imgs/noBooking.png);
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: center;
      height: 100%;
    }
    .height-100{
      height: 100%;
    }
  }


