page-about {
    //   .logo {
    //    // padding: 10px 10px 10px 10px;
    //     float: center;
    //   // padding-top: 1px;
    //   // padding-bottom: 20px;
    // }
    background: #f8f7f7;
    .service{
      text-align: left;
    }


    .cancel{
      align-items: right;
      padding-left: 10px;
    }

    .order #status{
      color: blue;
    }
    .order #status1{
      color: blue;
    }
    .order #status2{
      color: green;
    }
    .order #status3{
      color: red;
    }
    .order #status4{
      color: green;
    }
    .mybooking{
      background: #f8f7f7;

    }
    .order{
      width: 100%;
    }
    .order .s{
      width: 70%;
    }

    }


