page-about {
    //   .logo {
    //    // padding: 10px 10px 10px 10px;
    //     float: center;
    //   // padding-top: 1px;
    //   // padding-bottom: 20px;
    // }
    .service{
      text-align: left;
    }

    .status{
     // text-align: right;
    }
    .cancel{
      align-items: right;
      padding-left: 10px;
    }

    }


