<ion-header>
  <ion-navbar>
    <ion-title align="center" style="color:black; ">
      My Booking
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content fullscreen="" class="ion-padding hydrated" style="--offset-top:76px; --offset-bottom:0px;" padding>
  <div *ngIf="!booking">
    <button ion-button id="button" color="dark" full><b>No Booking Found</b></button>
    <!-- <ion-row class="logo">
        <ion-col>
          <img class="full-image" src="assets/imgs/booking.png"/>
        </ion-col>
      </ion-row> -->
  </div>
  <div *ngIf="booking">
    <ion-list>
      <ion-item>
          <ion-label class="service">
            beauty
          </ion-label>
          <ion-label  class="status" color="primary">
              Pending
          </ion-label>
          </ion-item>
        <ion-item>
          <ion-label slot="start">
            Two Icons End
          </ion-label>
          <ion-icon type="button"(click)="cnl()" name="close-circle"class="cancel" item-right></ion-icon>

          <ion-label class="status" color="primary">
              Two Icons End
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="start">
            Two Icons End
          </ion-label>
          <ion-label class="status"color="primary">
              Two Icons End
          </ion-label>
        </ion-item>
      </ion-list>
          <!-- <ion-list class="list list-md hydrated">
            <ion-list-header class="hydrated">
              Notes
            </ion-list-header>

            <ion-item-sliding class="hydrated">
              <ion-item class="in-list item ion-focusable item-label hydrated">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated">Primary Note</ion-label>
                <ion-note slot="end" color="primary" class="ion-color ion-color-primary hydrated">99</ion-note>
              </ion-item>

              <ion-item class="in-list item ion-focusable item-label hydrated">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated">Secondary Note</ion-label>
                <ion-note slot="end" color="secondary" class="ion-color ion-color-secondary hydrated">99</ion-note>
              </ion-item>

              <ion-item class="in-list item ion-focusable item-label hydrated">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated">Tertiary Note</ion-label>
                <ion-note slot="end" color="tertiary" class="ion-color ion-color-tertiary hydrated">99</ion-note>
              </ion-item>

              <ion-item class="in-list item ion-focusable item-label hydrated">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated">Success Note</ion-label>
                <ion-note slot="end" color="success" class="ion-color ion-color-success hydrated">99</ion-note>
              </ion-item>

              <ion-item class="in-list item ion-focusable item-label hydrated">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated">Warning Note</ion-label>
                <ion-note slot="end" color="warning" class="ion-color ion-color-warning hydrated">99</ion-note>
              </ion-item>

              <ion-item class="in-list item ion-focusable item-label hydrated">
                <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated">Danger Note</ion-label>
                <ion-note slot="end" color="danger" class="ion-color ion-color-danger hydrated">99</ion-note>
              </ion-item>
          </ion-item-sliding></ion-list> -->






  </div>



</ion-content>
