page-reset {
  .reset-content {
    background: #f8f7f7;

    ion-row {
      align-items: center;
      text-align: center;
    }
  }

  #button {
    //margin-top: 90px;
    background-color: rgb(235, 235, 117);
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
  }
}
