 <ion-header>
    <ion-navbar>
      <ion-title class="h"></ion-title>
    </ion-navbar>

  </ion-header>
  <ion-content class="login-content" padding>
  <div class="login-box">
    <form  [formGroup]="MyForm" *ngIf="!put">
      <ion-row>
        <ion-col>
            <div class="title"><h1><b>Sign In</b></h1></div>
          <ion-list inset>
          <!-- <ion-item>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email" type="email"   formControlName="p_email"></ion-input>
          </ion-item> -->


          <!-- <ion-item>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <div class="form-group">
            <ion-input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
            <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            </div>
          </ion-item> -->
          <!-- <div class="form-group"> -->
            <ion-item>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>

            <ion-input placeholder="Email" [(ngModel)]="formdata.p_email" name="p_email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
          </ion-item>
            <!-- </div>` -->
              <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
              </div>

          <!-- <div class="form-group"> -->
          <ion-item>
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
               <ion-input placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>


          </ion-item>
        <!-- </div> -->
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <!-- <div *ngIf="f.password.errors.pattern">Password requires one lower case letter, one upper case letter, one digit, 6-13 length, and no spaces.</div> -->
          </div>

            <!-- <ion-item>
              <ion-label>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
                 <ion-input placeholder="Password" type="password" [(ngModel)]="formdata.p_password" name="p_password" formControlName="p_password"></ion-input>
            </ion-item> -->

          </ion-list>

          <button ion-button id="button1" (click)="resetPassword()" icon-only clear>Forgot Password ?</button>

          <button ion-button id="button" (click)="login()" full><b>Login</b></button>

          <button ion-button id="button2" font-color="light" (click)="createAccount()" icon-only clear>Not a member? Register</button>
        </ion-col>
      </ion-row>
    </form>
    <ion-spinner name="circles" *ngIf="put" id="spinr"></ion-spinner>
  </div>
</ion-content>
