
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="location-content" padding>
    <div class="location-box">
        <form  [formGroup]="emailForm">
          <ion-row>
            <ion-col>
                <div class="title"><h1><b>Reset Password</b></h1></div>
              <ion-list inset>
                <!-- <ion-item>
                  <ion-label>
                    <ion-icon name="mail"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Email" [(ngModel)]="formdata.p_email" name="p_email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
                </ion-item>
                    <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                    </div> -->
                    <ion-item>
                        <ion-label>
                          <ion-icon name="call"></ion-icon>
                        </ion-label>
                        <ion-input placeholder="number" type="phonenumber" [(ngModel)]="formdata.p_number" name="p_number" formControlName="number"></ion-input>
                      </ion-item>
            </ion-list>
            <button ion-button id="button" (click)="resetP()" full><b>Reset Password</b></button>
          </ion-col>
        </ion-row>
      </form>

    </div>
</ion-content>

