<ion-header>
  <ion-navbar>
    <ion-title class="h"></ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">

    <form [formGroup]="myForm" >
      <ion-row>
        <ion-col>

            <div class="title"><h1><b>Sign Up</b></h1></div>

          <ion-list inset>

            <ion-item>
            <ion-label>
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input placeholder="FirstName" type="text" [(ngModel)]="formdata.p_surname" name="p_surname" formControlName="p_surname"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>
                  <ion-icon name="person"></ion-icon>
                </ion-label>
                <ion-input placeholder="LastName" type="text" type="text" [(ngModel)]="formdata.p_lastname" name="p_lastname" formControlName="p_lastname"></ion-input>
                </ion-item>

            <!-- <ion-item *ngIf="!myForm.controls.p_surname.valid  && (submitAttempt)">
            <p>Please enter a valid Surname.</p>
            </ion-item> -->


            <ion-item>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email" type="email" [(ngModel)]="formdata.p_email" name="p_email" formControlName="p_email"></ion-input>
            </ion-item>
<!--
            <div *ngIf="!myForm.controls.p_email.valid  && (createSuccess)">
            <p>Please enter a valid Email address.</p>
            </div> -->

            <ion-item>
              <ion-label>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-input placeholder="Password" type="password" [(ngModel)]="formdata.p_password" name="p_password" formControlName="p_password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-input placeholder="Confirm password" type="password" [(ngModel)]="formdata.p_confirm_password" name="p_confirm_password" formControlName="p_confirm_password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="call"></ion-icon>
              </ion-label>
              <ion-input placeholder="number" type="phonenumber" [(ngModel)]="formdata.p_number" name="p_number" formControlName="p_number"></ion-input>
            </ion-item>

            <!-- <ion-item *ngIf="!myForm.controls.p_number.valid  && (submitAttempt)">
              <p>Please enter a valid number.</p>
            </ion-item> -->


        </ion-list>

        <button ion-button  id="button" (click)="register()" full><b>Register</b></button>
        <!-- <button ion-button color="primary"(click)="postData()" full>Register</button> -->
        </ion-col>
      </ion-row>

     <!-- <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" ng-click="login(email,password)" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
        </ion-col>
      </ion-row>
    -->
    </form>
  </div>
</ion-content>

