<ion-header>
  <ion-navbar align-title="center">
    <ion-title align="center" style="color:black; ">
    Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
        <button ion-item (click)="signup()" full>
            <h6><b>Sign UP</b></h6>
          </button>
          <button ion-item>
              <h6><b>About APP</b></h6>
            </button>
            <button ion-item (click)="loginn()" full>
                <h6><b>Login</b></h6>
              </button>
     </ion-list>
    </div>
</ion-content>



  <!-- <ion-grid>
      <ion-list>

          <ion-item *ngFor="let person of people">
              <button ion-item (click)="sub(person.id)" full id={{person.id}}>
                  <ion-avatar item-left>
                  <img src="{{person.image}}">
                  </ion-avatar>
                   <h1 >{{person.service}}</h1>
              </button>
          </ion-item>
        </ion-list>
      </ion-grid>
      <ion-grid>
    <ion-row *ngFor="let row of grid">
    </ion-row>
  </ion-grid> -->
