<ion-header>

  <ion-navbar>
    <ion-title>Service</ion-title>
  </ion-navbar>

</ion-header>

<!-- <ion-content>  -->
  <!-- <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list> -->
  <!-- <ion-searchbar animated></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let person of people">
        <button ion-item (click)="create(person.service)"  full>
            <ion-avatar item-left>
            <img src="{{person.image}}">
            </ion-avatar>
             <h1>{{person.service}}</h1>
        </button>
    </ion-item>
  </ion-list>
</ion-content> -->




<!-- <ion-content class="service-content" padding>
  <div padding>
    <ion-segment [(ngModel)]="service">
      <ion-segment-button value="orderservice">
        Order Service
      </ion-segment-button>
      <ion-segment-button value="viewservice">
        View Service
      </ion-segment-button>
    </ion-segment>
  </div>

   <div [ngSwitch]="service">
      <ion-card>

          <ion-list *ngSwitchCase="'viewservice'">

          <button ion-item >
            <ion-icon name="cart" item-start></ion-icon>
            Shopping
          </button>

          <button ion-item >
            <ion-icon name="medical" item-start></ion-icon>
            Hospital
          </button>

          <button ion-item>
            <ion-icon name="cafe" item-start></ion-icon>
            Cafe
          </button>

          <button ion-item>
            <ion-icon name="paw" item-start></ion-icon>
            Dog Park
          </button>

          <button ion-item>
            <ion-icon name="planet" item-start></ion-icon>
            Space
          </button>

      </ion-list>
    </ion-card>
  </div>


     <div [ngSwitch]="service">
     <ion-card>
      <ion-list *ngSwitchCase="'orderservice'">
        <ion-item *ngFor="let person of people">
            <button ion-item (click)="create(person.service_name)"  full>
                <ion-avatar item-left>
                <img src="{{person.image}}">
                </ion-avatar>
                 <h1>{{person.service_name}}</h1>
            </button>
        </ion-item>
      </ion-list>
    </ion-card>
     </div>
</ion-content> -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
          <img class="full-image" src="assets/imgs/fintech.jpg"/>
        </div>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <img class="full-image" src="assets/imgs/fintech.jpg"/>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          3 of 4
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
