<ion-header>

  <ion-navbar>
    <ion-title align="center" style="color:black; ">Order Service</ion-title>
  </ion-navbar>

</ion-header>

<!-- <ion-content>  -->
  <!-- <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list> -->
  <!-- <ion-searchbar animated></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let person of people">
        <button ion-item (click)="create(person.service)"  full>
            <ion-avatar item-left>
            <img src="{{person.image}}">
            </ion-avatar>
             <h1>{{person.service}}</h1>
        </button>
    </ion-item>
  </ion-list>
</ion-content> -->




<!-- <ion-content class="service-content" padding>
  <div padding>
    <ion-segment [(ngModel)]="service">
      <ion-segment-button value="orderservice">
        Order Service
      </ion-segment-button>
      <ion-segment-button value="viewservice">
        View Service
      </ion-segment-button>
    </ion-segment>
  </div>

   <div [ngSwitch]="service">
      <ion-card>

          <ion-list *ngSwitchCase="'viewservice'">

          <button ion-item >
            <ion-icon name="cart" item-start></ion-icon>
            Shopping
          </button>

          <button ion-item >
            <ion-icon name="medical" item-start></ion-icon>
            Hospital
          </button>

          <button ion-item>
            <ion-icon name="cafe" item-start></ion-icon>
            Cafe
          </button>

          <button ion-item>
            <ion-icon name="paw" item-start></ion-icon>
            Dog Park
          </button>

          <button ion-item>
            <ion-icon name="planet" item-start></ion-icon>
            Space
          </button>

      </ion-list>
    </ion-card>
  </div>


     <div [ngSwitch]="service">
     <ion-card>
      <ion-list *ngSwitchCase="'orderservice'">
        <ion-item *ngFor="let person of people">
            <button ion-item (click)="create(person.service_name)"  full>
                <ion-avatar item-left>
                <img src="{{person.image}}">
                </ion-avatar>
                 <h1>{{person.service_name}}</h1>
            </button>
        </ion-item>
      </ion-list>
    </ion-card>
     </div>
</ion-content> -->
<ion-content class="service-content" padding>
  <div class="service-box">
    <ion-list>
        <ion-item>
          <ion-label><h2> {{category}}</h2></ion-label>
        </ion-item>

        <ion-item>
            <button ion-button id="button" (click)="getGeolocation()"full><b>Get Location</b></button>

          </ion-item>

          <ion-item >
            <ion-input placeholder="Location" >{{this.people3}}</ion-input>
          </ion-item>

        <!-- <ion-item *ngFor="let person3 of people3">
          <ion-input placeholder="Location">{{person3.formatted}}</ion-input>
        </ion-item> -->

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <!-- [(ngModel)]="event.month" -->

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ends</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="enddate" ></ion-datetime>
    </ion-item>
    <ion-item>
    <button ion-button id="button" (click)="submitt($event)" full><b>Order Service</b></button>
  </ion-item>
  </ion-list>

  <!-- <button ion-button id="button" (click)="submitt($event)" full><b>Order Service</b></button> -->



  <!-- <button ion-button (click)="getGeolocation()" >Get Location</button> -->
  <!-- <button ion-button >Watch Location Updates</button>
  <button ion-button >Stop Location Watch</button> -->

  <!-- <p>Latitude : {{responseObj.Latitude}}</p>
  <p>Longitude : responseObj.longitude</p> -->
  <!-- <p>Accuracy : {{responseObj.accuracy}}</p> -->
  <!-- <p class="address-text"> -->

    <!-- <span class="watch-text" *ngIf="isWatching; else notWatching">
         Watching Location
      </span>
      <ng-template #notWatching>
          Location Watch Stopped
      </ng-template> -->

    <!-- <br>Address : {{responseObj.address}}</p> -->
</div>

</ion-content>
